body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: whitesmoke;
  --text-primary: #18191a;
  --text-secondary: white;
  --accent: #7cab4b;
}
[data-theme='dark'] {
  --background: #242526;
  --text-primary: whitesmoke;
  --text-secondary: #18191a;
  --accent: #7cab4b;
}